<header class="bg-white shadow-sm sticky top-0 z-50">
  <nav class="container mx-auto px-4 py-4 sm:py-6 flex flex-col sm:flex-row justify-between items-center max-w-7xl gap-2">
    <a href="/" class="text-xl sm:text-2xl font-bold text-primary">Industrially</a>
    <div class="flex items-center space-x-4 sm:space-x-6">
      <a href="/blog" class="text-base sm:text-lg text-gray-600 hover:text-primary transition duration-300">Blog</a>
      <a href="/guia-de-inicio" class="text-base sm:text-lg text-gray-600 hover:text-primary transition duration-300">Guía de inicio</a>
      <a href="https://app.industrially.net/accounts/new" class="bg-black text-white px-4 py-2 w-max rounded-full text-sm md:text-lg font-semibold hover:bg-gray-800 transition duration-300">
        Crear cuenta
      </a>
    </div>
  </nav>
</header> 