@import "https://unpkg.com/open-props";

*, ::before, ::after { box-sizing: border-box; }

:where(:not(dialog)) {
  margin: 0;
}

html {
  background-color: var(--gray-0);
  block-size: 100%;
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-1);
  -webkit-text-size-adjust: none; /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */

  @media (--motionOK) {
    scroll-behavior: smooth;
  }

}

body {
  max-width: 50rem;
  margin: auto;
  padding: var(--size-3);

  display: flex;
  flex-direction: column;
  gap: 1em;
}

h1 {
  font-size: var(--font-size-fluid-3);
}

h2 {
  font-size: var(--font-size-fluid-2);
}

h1, h2, h3 {
  font-family: var(--font-slab-serif);
}

h1 {
  margin-top: var(--size-6);
}

h2:not(.subheader) {
  margin-top: var(--size-6);
}

p {
  font-family: var(--font-monospace-slab-serif);
  font-family: var(--font-old-style);
  font-family: var(--font-transitional);
  font-family: var(--font-humanist);

  font-size: var(--font-size-fluid-1);
  line-height: var(--font-lineheight-3);
  font-weight: var(--font-weight-1);
}


img {
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--gray-4);
  box-shadow: var(--shadow-3);
  width: 100%;
}
