<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= current_page.data.fetch("title", "Industrially") %></title>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: '#000000',
              accent: '#333333',
              background: '#F5F5F5',
              text: '#1F2937',
            },
            fontFamily: {
              sans: ['Inter', 'sans-serif'],
            },
            typography: {
              DEFAULT: {
                css: {
                  maxWidth: 'none',
                  color: '#1F2937',
                  a: {
                    color: '#000000',
                    '&:hover': {
                      color: '#333333',
                    },
                  },
                },
              },
            },
          },
        },
      }
    </script>
  </head>
  <body class="bg-white font-sans text-text">
    <header class="bg-white shadow-sm">
      <nav class="container mx-auto px-4 py-6 flex justify-between items-center">
        <a href="/" class="text-2xl font-bold text-primary">Industrially</a>
        <div class="flex items-center space-x-6">
          <a href="/blog" class="text-lg text-gray-600 hover:text-primary transition duration-300">Blog</a>
        </div>
      </nav>
    </header> 

    <main class="container mx-auto px-4 py-8 sm:py-12 max-w-2xl">
      <article class="prose prose-sm sm:prose lg:prose-lg mx-auto">
        <h1 class="text-text text-2xl sm:text-3xl lg:text-4xl"><%= current_page.data.title %></h1>
        <p class="text-text opacity-75 text-sm sm:text-base"><%= current_page.data.date.strftime("%B %d, %Y") %></p>
        <%= yield %>
      </article>
    </main>

    <footer class="bg-gray-50 py-10">
      <div class="container mx-auto px-4 text-center max-w-3xl">
        <h2 class="text-4xl font-bold mb-4 text-text leading-tight">Aprende a usar software para potenciar tu negicio de distribución industrial</h2>
        <p class="mb-4 text-gray-600 leading-relaxed max-w-2xl mx-auto">Aquí compartimos pequeños tips, consejos y herramientas sobre todo relacionadas al uso de software en negocios de distribución y ventas de equipo industrial.</p>
        <div class="mx-auto max-w-2xl mv-8">
          <script async data-uid="5946107901" src="https://bhserna.ck.page/5946107901/index.js"></script>
        </div>
      </div>
    </footer>
  </body>
</html>
