<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset='utf-8'>
    <title><%= current_page.data.fetch("title", "Industrially") %></title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
