---
title: Industrially.net | Blog
---

<main class="container mx-auto px-4 py-8 max-w-2xl mb-10">
  <div class="mx-auto flex flex-col gap-6 sm:gap-10">
    <h1 class="text-text text-2xl sm:text-3xl lg:text-4xl font-bold">Blog</h1>
    <% site = Sitepress::Site.new %>
    <% posts = site.resources.glob("blog/*html*").select { _1.data.date.to_date <= Date.current }.sort_by { _1.data.date.to_date }.reverse %>
    <% posts.each do |post| %>
      <a href="<%= post.request_path %>" class="p-4 sm:p-6 border rounded-md border-gray-200 shadow-sm flex flex-col gap-2 hover:border-gray-300 transition-colors duration-300">
        <div class="prose prose-sm sm:prose lg:prose-lg">
          <h3 class="mb-2"><%= post.data[:title] %></h3>
          <p class="text-gray-500"><%= post.data[:description] %></p>
        </div>
      </a>
    <% end %>
  </div>
</main>

<footer class="bg-gray-100 py-10">
  <div class="container mx-auto px-4 text-center">
    <h2 class="text-2xl font-bold mb-4 text-text">¿Quieres optimizar tus ventas?</h2>
    <p class="mb-4 text-text">Suscríbete para recibir noticias sobre nuestra app de seguimiento de cotizaciones.</p>
    <a href="/" class="bg-accent hover:bg-primary text-white font-bold py-2 px-4 rounded transition duration-300">
      Suscribirse
    </a>
  </div>
</footer>
