---
title: Industrially | Guía de inicio
description: "Artículos de ayuda para empezar a usar Industrially"
keywords: Industrially, guía, inicio, ayuda, empezar, usar, software para proveedores industriales, gestión de solicitudes, flujo de cotización, equipo industrial, portal de clientes, seguimiento de cotizaciones
---

<div class="bg-white">
  <main class="container mx-auto px-4 py-8 max-w-3xl mb-10">
    <div class="mx-auto flex flex-col gap-6 sm:gap-8">
      <div class="flex flex-col gap-2">
        <h1 class="text-text text-2xl sm:text-4xl font-bold">Guía de inicio</h1>
        <p class="text-text text-base sm:text-lg">
          Empezar a usar algo nuevo puede ser complicado. Estos artículos te ayudarán a empezar a usar Industrially.
        </p>
      </div>
      <div class="flex flex-col gap-4">
        <a href="como-crear-una-solicitud-de-cotizacion" class="underline text-text text-lg sm:text-xl font-medium">
          Cómo crear una solicitud de cotización
        </a>
        <a href="como-crear-una-cotizacion" class="underline text-text text-lg sm:text-xl font-medium">
          Cómo crear una cotización
        </a>
        <a href="como-dar-de-alta-un-cliente" class="underline text-text text-lg sm:text-xl font-medium">
          Cómo dar de alta un cliente
        </a>
        <a href="como-dar-de-alta-un-contacto" class="underline text-text text-lg sm:text-xl font-medium">
          Cómo dar de alta un contacto
        </a>
        <a href="como-recibir-solicitudes-de-cotizacion-desde-tu-sitio-web" class="underline text-text text-lg sm:text-xl font-medium">
          Cómo recibir solicitudes de cotización desde tu sitio web
        </a>
      </div>
    </div>
  </main>
</div>
