---
title: Industrially.net | App de seguimiento a cotizaciones
---

<main class="container mx-auto pb-4 px-4 max-w-2xl">
  <div class="prose prose-sm sm:prose lg:prose-lg mx-auto">
    <div>
      <h2 class="text-2xl sm:text-3xl lg:text-4xl font-bold">¿Ya tienen mi cotización?</h2>
      <p>¿Te ha pasado que un cliente pregunta por su cotización y nadie tiene idea de si está lista o no?</p>
      <ul>
        <li>O tal vez ni siquiera sabían que el cliente había solicitado algo...</li>
        <li>O tal vez no saben quién lleva el caso...</li>
        <li>O tal vez sí saben quién lo lleva, pero sigue buscando la cotización que hizo hace dos meses, porque es casi igual, pero no la encuentra, porque la hizo en otra computadora...</li>
      </ul>
    </div>

    <h2>Pedí mi cotización por…</h2>

    <p>¿Te ha pasado que te piden algo por WhatsApp, y después el mismo cliente por correo o llamada te pide otra cosa?... Y después...</p>

    <ul>
      <li>No encuentras referencia de qué fue lo que pidió</li>
      <li>O no recuerdas si le contestaste...</li>
      <li>O no fue a ti, fue al vendedor que se fue de vacaciones</li>
    </ul>

    <h2>¿Te gustaría sentir el control?</h2>

    <p>Que todos tus clientes pudieran recibir su cotización minutos después de solicitarla, saber exactamente y en todo momento lo que cada cliente les ha pedido cotizar, lo que le han cotizado y vendido.</p>

    <p>Es cierto que cotizar productos complejos puede tomar su tiempo, pero no debería ser por no tener control de la información.</p>

    <h2>Controla el flujo de solicitudes de cotización</h2>

    <p>Comienza a tomar el control de las solicitudes de tus clientes con <strong>Industrially.net</strong> un lugar para…</p>

    <ul>
      <li>Centralizar, recibir y capturar las solicitudes de cotización de tus clientes</li>
      <li>Asignar responsables y dar seguimiento</li>
      <li>Generar cotizaciones de manera ágil</li>
      <li>Accesar la información relacionada con cada cliente y contacto</li>
    </ul>

    <h2>Comienza a tomar el control</h2>

    <p>Industrially está en desarrollo, muy cerca de lanzar. Si quieres ser de los primeros en probar e influir en el rumbo de la aplicación, regístrate en la siguiente forma.</p>

    <div class="mt-8">
      <script async data-uid="5946107901" src="https://bhserna.ck.page/5946107901/index.js"></script>
    </div>
    <p class="text-sm text-center text-text opacity-50">
      Sé el primero en saberlo y obtén un 20% de descuento.
    </p>
  </div>
</main>