---
title: Industrially | Catálogo de productos con flujo de cotización para proveedores industriales
description: "Plataforma para crear sitios web para proveedores industriales, crea un sitio web con catálogo de productos, flujo de cotización, y portal para clientes en minutos."
---

<script>
  function resetButtons(galleryId) {
    window[galleryId].querySelectorAll("button").forEach(button => button.classList.remove("border", "border-gray-500"));
  }

  function buttonWithId(galleryId, id) {
    return window[galleryId].querySelector("button[data-id='"+id+"']");
  }

  function setImage(galleryId, id) {
    const selectedButton = buttonWithId(galleryId, id)
    window[galleryId].querySelector("img").src = selectedButton.querySelector("img").src;
    resetButtons(galleryId);
    selectedButton.classList.add("border", "border-gray-500");
  }
</script>

<% primary_btn_class =
  "inline-block bg-black text-white px-6 sm:px-8 py-3 sm:py-4 rounded-full text-base text-lg lg:text-xl font-semibold hover:bg-gray-800 transition duration-300" %>
<% btn_class =
  "inline-block bg-gray-100 text-gray-800 px-6 sm:px-8 py-3 sm:py-4 rounded-full text-base text-lg lg:text-xl font-semibold hover:bg-gray-200 transition duration-300" %>
<% img_link = ->(path) do
  link_to("https://app.industrially.net/accounts/new") do
    tag.img(
      src: path,
      class:
        "w-full h-auto rounded-xl border border-gray-300 p-1 shadow-lg bg-white",
    )
  end
end %>
<% buttons =
  tag.div class: "flex flex-col lg:flex-row gap-4 mx-auto" do
    tag.div do
      link_to(
        "Pruébalo gratis",
        "#prueba_gratis",
        class: primary_btn_class,
      )
    end +
      tag.div do
        link_to(
          "Visitar sitio demo",
          "https://demo.industrially.net",
          target: "_blank",
          class: btn_class,
        )
      end
  end %>

<section class="bg-white py-8 lg:py-12">
  <div class="container mx-auto px-4 max-w-4xl">
    <div class="flex flex-col gap-3 lg:gap-4 text-center">
      <div class="text-base lg:text-lg">
        <span class="bg-gray-100 text-gray-800 px-4 py-2 rounded-full">Para proveedores industriales</span>
      </div>
      <h1 class="text-2xl sm:text-4xl lg:text-5xl font-bold max-w-2xl mx-auto">
        Catálogo de productos con flujo de cotización
      </h1>
      <p class="text-base text-lg lg:text-2xl text-gray-500">
        Ayudamos a proveedores industriales a crear su sitio web con un catálogo de productos, flujo de solicitud de
        cotización, sistema para generar cotizaciones y un portal para clientes.
      </p>
      <div style="position: relative; padding-bottom: 62.42774566473989%; height: 0;">
        <iframe src="https://www.loom.com/embed/8e5fedc542244d5eae4a3d86afb0dc44?sid=defef840-f283-4d75-9bd8-b08541334813"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen 
                allowfullscreen 
                class="rounded-xl"
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
      <%= buttons %>
    </div>
  </div>
</section>

<div
  class="
    flex flex-col gap-12 max-w-4xl mx-auto px-4 my-12 bg-gray-100 rounded-xl p-4
    lg:p-8
  "
>
  <div id="prueba_gratis" class="flex flex-col gap-6 lg:gap-8">
    <h2 class="text-center text-xl lg:text-4xl font-bold">Prueba gratis</h2>

    <p class="lg:text-xl">
      Escribenos y contactaremos lo más pronto posible para ver cómo podemos ayudarte.
    </p>

    <p class="lg:text-xl">
      Escríbenos a <%= mail_to "contacto@industrially.net", class: "underline" %> con:
    </p>

    <ul class="lg:text-xl list-disc list-inside">
      <li>El nombre de tu empresa</li>
      <li>Qué hace tu empresa</li>
      <li>Página web actual</li>
      <li>Tus datos de contacto (nombre, teléfono, correo electrónico, puesto)</li>
    </ul>
  </div>
</div>
