---
title: Industrially.net | Kit de seguimiento a cotizaciones
---

<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="absolute inset-0 bg-gradient-to-r from-yellow-400 to-yellow-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
      <div class="max-w-md mx-auto">
        <h2 class="text-2xl font-bold text-center text-yellow-600 mb-4">Industrially.net</h2>
        <h1 class="text-3xl font-extrabold text-center text-gray-900 mb-2">App de seguimiento a cotizaciones</h1>
        <p class="text-center text-gray-600 mb-8">Aplicación web de seguimiento a cotizaciones para distribuidores industriales que buscan optimizar sus ventas</p>

        <div class="space-y-6">
          <div>
            <h2 class="text-xl font-bold text-gray-900 mb-2">¿Has tenido estos problemas?</h2>
            <ul class="list-disc pl-5 space-y-2 text-gray-700">
              <li>Perder ventas por falta de seguimiento</li>
              <li>Olvidar qué cotizaciones necesitan seguimiento</li>
              <li>Desconocer si tu equipo da seguimiento oportuno</li>
              <li>Falta de estructura en el proceso de seguimiento</li>
            </ul>
          </div>

          <div>
            <h2 class="text-xl font-bold text-gray-900 mb-2">Imagina si...</h2>
            <p class="text-gray-700">Tú y todo tu equipo supieran a qué cliente dar seguimiento cada día, con el detalle del estatus de cada conversación para ser más efectivos.</p>
          </div>

          <div>
            <h2 class="text-xl font-bold text-gray-900 mb-2">Nuestra aplicación te ayudará a...</h2>
            <ul class="list-disc pl-5 space-y-2 text-gray-700">
              <li>Ver y controlar de los seguimientos de cada día</li>
              <li>Capturar el estatus y detalles de cada seguimiento</li>
              <li>Tener noción del valor de tus cotizaciones en todo momento</li>
            </ul>
          </div>

          <div class="mt-8 space-y-4">
            <script async data-uid="5946107901" src="https://bhserna.ck.page/5946107901/index.js"></script>
          </div>
          <p class="text-sm text-center text-gray-500">
          Sé el primero en saberlo y obtén un 20% de descuento.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
